// Utilities
@import "../../utils/name-variables.scss";

.portfolio-item {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 4em 0;
  flex-direction: row;
  background-color: transparent;

  @include for-size(phone-only) {
    flex-direction: column-reverse;
  }

  .content-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;

    @include for-size(tablet-landscape) {
    }

    @include for-size(tablet-portrait) {
    }

    @include for-size(phone-only) {
      width: 100%;
    }

    .title-wrapper {
      height: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include for-size(phone-only) {
      }

      .title {
        text-transform: capitalize;
        color: $white-color;
        padding: 1em;
        font-size: 1.75em;

        @include for-size(tablet-landscape) {
        }

        @include for-size(tablet-portrait) {
          font-size: 1.5em;
          padding: 0.5em;
        }

        @include for-size(phone-only) {
          font-size: 1.25em;
          text-align: center;
        }
      }
    }

    .description {
      font-size: 1.5em;
      line-height: 1.5em;
      color: $white-color;
      height: 60%;
      width: 100%;
      padding: 1em;
      text-align: justify;

      @include for-size(tablet-landscape) {
        font-size: 1em;
        line-height: 1.5em;
      }

      @include for-size(phone-only) {
        text-align: center;
      }
    }

    .buttons-wrapper {
      height: 30%;
      width: 100%;
      display: flex;
      padding-bottom: 1em;
      justify-content: center;
      align-items: flex-end;

      @include for-size(tablet-landscape) {
      }

      @include for-size(tablet-portrait) {
        padding-bottom: 0;
        justify-content: flex-start;
        padding-left: 1em;
      }

      @include for-size(phone-only) {
        justify-content: center;
        padding-left: 0;
      }

      .button {
        margin: 1em;
      }
    }
  }

  .images-wrapper {
    height: 100%;
    width: 50%;
    //background-color: blue;
    margin-right: 1em;

    @include for-size(phone-only) {
      width: 100%;
      margin: 0;
      padding: 1em;
    }

    .image {
      height: auto;
      width: 100%;
      border-radius: 1em;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &.reverse {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 4em 0;
    background-color: transparent;
    flex-direction: row-reverse;

    @include for-size(phone-only) {
      flex-direction: column-reverse;
    }

    .content-wrapper {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;

      @include for-size(phone-only) {
        width: 100%;
      }

      .title-wrapper {
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include for-size(phone-only) {
          justify-content: center;
        }

        .title {
          text-transform: capitalize;
          color: $white-color;
          padding: 1em;
          font-size: 1.75em;

          @include for-size(tablet-landscape) {
          }

          @include for-size(tablet-portrait) {
            font-size: 1.5em;
            padding: 0.5em;
          }

          @include for-size(phone-only) {
            font-size: 1.25em;
            text-align: center;
          }
        }
      }

      .description {
        font-size: 1.5em;
        line-height: 1.5em;
        color: $white-color;
        height: 60%;
        width: 100%;
        padding: 1em;
        text-align: justify;

        @include for-size(tablet-landscape) {
          font-size: 1em;
          line-height: 1.5em;
        }

        @include for-size(tablet-landscape) {
          padding: 1em;
        }

        @include for-size(phone-only) {
          text-align: center;
        }
      }

      .buttons-wrapper {
        height: 30%;
        width: 100%;
        display: flex;
        padding-bottom: 1em;
        justify-content: center;
        align-items: flex-end;
        @include for-size(tablet-landscape) {
        }

        @include for-size(tablet-portrait) {
          padding-bottom: 0;
          justify-content: flex-end;
          padding-right: 1em;
        }

        @include for-size(phone-only) {
          justify-content: center;
          padding-right: 0;
        }

        .button {
          margin: 1em;
        }
      }
    }

    .images-wrapper {
      height: 100%;
      width: 50%;
      //background-color: blue;
      margin-left: 1em;

      @include for-size(phone-only) {
        width: 100%;
        margin-left: 0;
        padding: 1em;
      }

      .image {
        height: auto;
        width: 100%;
        border-radius: 1em;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    }
  }
}
