// Utilities
@import "../../utils/name-variables.scss";

.portfolio-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-background-gradient;
}
