@import "../../utils/name-variables.scss";

button {
  &.main {
    width: 50%;
    font-size: 2em;
    text-decoration: none;
    background-color: transparent;
    border-radius: 1em;
    border: 1px solid $main-color;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: 500;
    padding: 0.5em;

    &:hover {
      border-radius: 1em;
      border: 1px solid $white-color;
    }

    @include for-size(desktop) {
      font-size: 1.25em;
    }

    @include for-size(tablet-landscape) {
      width: 60%;
      font-size: 1em;
    }

    @include for-size(phone-only) {
      padding: 0.5em;
      font-size: 1em;
    }

    @include for-size(small-only) {
      font-size: 0.75em;
      padding: 0.25em;
    }

    @include for-size(smallest-only) {
      font-size: 0.75em;
    }

    .highlighted {
      color: $main-color;
    }
  }

  &.portfolio {
    width: 50%;
    margin-top: 0;
    font-size: 1.25em;
    text-decoration: none;
    background-color: transparent;
    border-radius: 1em;
    border: 1px solid $main-color;
    display: inline-block;
    cursor: pointer;
    font-weight: 500;
    padding: 0.5em;

    &:hover {
      border: 1px solid $white-color;
    }

    @include for-size(tablet-landscape) {
      font-size: 1em;
    }

    @include for-size(smallest-only) {
      padding: 0.5em 1em;
    }

    .highlighted {
      color: $main-color;
    }
  }
}
