// Utilities
@import "../../utils/name-variables.scss";

.main-container {
  background: url(../../assets/stars.png) no-repeat center center fixed;
  background-size: cover;

  //height: 90vh;

  .hero-content {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include for-size(phone-only) {
      flex-direction: column;
      justify-content: center;
    }

    .yoga-astronaut-container {
      height: 0;
      width: 0;
      visibility: hidden;

      @include for-size(phone-only) {
        height: 30%;
        width: 30%;
        visibility: visible;
        animation: fly 5s ease-in-out infinite;
      }

      @include for-size(smallest-only) {
        height: 20vh;
      }

      @keyframes fly {
        0% {
          transform: translate(0vw, 1vh);
        }
        50% {
          transform: translate(0vw, 0vh);
        }
        100% {
          transform: translate(0vw, 1vh);
        }
      }
    }

    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      margin-left: 1em;

      @include for-size(phone-only) {
        width: 100vw;
        margin-bottom: 1em;
        justify-content: flex-end;
      }

      @include for-size(smallest-only) {
        margin-left: 0.5em;
      }
      @include for-size(smallest-only) {
      }
      .heading {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        margin-bottom: 1em;

        .hello-world {
          color: $white-color;
          font-size: 2em;
          font-weight: 500;
          line-height: 1em;

          @include for-size(tablet-landscape) {
            font-size: 1.5em;
            text-align: start;
            padding-bottom: 0em;
            font-weight: 500;
          }

          @include for-size(tablet-portrait) {
            font-size: 1.25em;
            text-align: start;
            padding-bottom: 0em;
            font-weight: 500;
          }

          @include for-size(phone-only) {
            line-height: 1em;
            color: $white-color;
          }

          @include for-size(small-only) {
            font-size: 1.25em;
            line-height: 1em;
            color: $white-color;
          }
        }

        .name {
          font-size: 3em;
          color: $main-color;

          @include for-size(tablet-portrait) {
            font-size: 2.75;
          }

          @include for-size(phone-only) {
            font-size: 2.5em;
          }

          @include for-size(small-only) {
            font-size: 2em;
          }

          @include for-size(smallest-only) {
            font-size: 1.5em;
            text-align: justify;
          }
        }
      }

      .subheading {
        color: $white-text-color;
        font-size: 2em;
        font-weight: 500;
        text-align: justify;

        @include for-size(tablet-landscape) {
          text-align: start;
        }

        @include for-size(tablet-portrait) {
          font-size: 1.75em;
        }

        @include for-size(phone-only) {
          margin-right: 1em;
          margin-bottom: 2em;
          font-size: 1.5em;
        }

        @include for-size(small-only) {
          font-size: 1.25em;
        }

        .highlighted {
          color: $main-color;
        }
      }
    }

    .hanging-astronaut-container {
      width: 40vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      margin-top: 1em;

      @include for-size(phone-only) {
        height: 0;
        width: 0;
        visibility: hidden;
      }

      .astronaut {
        height: 80vh;
        width: 80vw;
        animation: swing 5s ease-in-out infinite;

        @keyframes swing {
          0% {
            transform: rotate(0.005turn);
          }
          50% {
            transform: rotate(-0.005turn);
          }
          100% {
            transform: rotate(0.005turn);
          }
        }
      }
    }
  }
}
