// Utilities
@import "../../utils/name-variables.scss";

.main-container {
  height: 90vh;
  width: 100vw;
  display: flex;
  padding-left: 3em;
  padding-bottom: 1em;
  flex-direction: row;
  justify-content: center;

  @include for-size(tablet-landscape) {
    padding-left: 2em;
  }

  @include for-size(tablet-portrait) {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0 1em;
    padding-bottom: 2em;
  }

  @include for-size(phone-only) {
    height: 85vh;
    padding-bottom: 2em;
  }

  @include for-size(small-only) {
    padding: 0 1.5em;
  }

  @include for-size(smallest-only) {
    padding: 0 1em;
  }

  .introduction-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;

    @include for-size(tablet-portrait) {
      height: 60%;
      width: 100%;
      padding-top: 2em;
      //justify-content: flex-start;
    }

    @include for-size(phone-only) {
      padding-top: 1em;
      height: 60%;
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      padding-bottom: 1em;

      .hello-world {
        color: $white-color;
        font-size: 1.75em;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: 0.1em;

        @include for-size(large-desktop) {
          font-size: 3em;
        }

        @include for-size(desktop) {
          font-size: 1.5em;
        }

        @include for-size(tablet-landscape) {
          font-size: 1em;
          text-align: start;
          padding-bottom: 0em;
          font-weight: 500;
        }

        @include for-size(tablet-portrait) {
          text-align: center;
          padding-bottom: 0em;
          font-weight: 500;
        }

        @include for-size(phone-only) {
          font-size: 1em;
        }

        @include for-size(small-only) {
          font-size: 0.75em;
        }

        @include for-size(smallest-only) {
          font-size: 0.75em;
        }
      }

      .name {
        font-size: 2em;
        color: $main-color;
        letter-spacing: 0.1em;

        @include for-size(large-desktop) {
          font-size: 4em;
        }

        @include for-size(tablet-landscape) {
          font-size: 1.5em;
        }

        @include for-size(tablet-portrait) {
          font-size: 1.5em;
          text-align: center;
        }

        @include for-size(phone-only) {
          font-size: 1.5em;
        }

        @include for-size(small-only) {
          font-size: 1.25em;
        }

        @include for-size(smallest-only) {
          font-size: 1.25em;
        }
      }
    }

    .subheading {
      color: $white-color;
      font-size: 1.75em;
      font-weight: 500;
      letter-spacing: 0.1em;
      text-align: justify;

      @include for-size(large-desktop) {
        font-size: 3em;
      }

      @include for-size(desktop) {
        font-size: 1.5em;
      }

      @include for-size(tablet-landscape) {
        font-size: 1em;
      }

      @include for-size(tablet-portrait) {
        font-size: 1em;
        text-align: center;
        padding: 0 1em;
      }

      @include for-size(phone-only) {
        font-size: 1em;
        padding: 0;
      }

      @include for-size(small-only) {
        font-size: 0.75em;
      }

      @include for-size(smallest-only) {
        font-size: 0.75em;
      }

      .highlighted {
        color: $main-color;
      }
    }

    .button-container {
      padding-top: 2em;
      @include for-size(tablet-portrait) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
  }

  .hanging-astronaut-container {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-size(tablet-portrait) {
      height: 40%;
      width: 100%;
    }

    @include for-size(phone-only) {
      height: 35%;
      width: 100%;
    }

    @include for-size(small-only) {
      height: 30%;
      width: 100%;
    }

    @include for-size(smallest-only) {
      height: 20%;
      width: 100%;
    }

    .astronaut {
      height: 100%;
      width: 100%;
      animation: swing 5s ease-in-out infinite;

      @keyframes swing {
        0% {
          transform: rotate(0.005turn);
        }
        50% {
          transform: rotate(-0.005turn);
        }
        100% {
          transform: rotate(0.005turn);
        }
      }
    }
  }
}
