@import "../../utils/name-variables.scss";

.mobile-navigation {
  visibility: hidden;

  @include for-size(tablet-portrait) {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include for-size(small-only) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.75em;
  }

  @include for-size(smallest-only) {
    margin-right: 0.5em;
  }

  .menu-option {
    visibility: hidden;

    @include for-size(tablet-portrait) {
      visibility: visible;
      font-size: 1em;
      cursor: pointer;
      color: $main-color;
      text-align: right;
      letter-spacing: 0.1em;
    }

    @include for-size(phone-only) {
      font-size: 1.25em;
    }

    &:hover {
      color: $white-color;
    }

    &:active {
      color: $white-color;
    }
  }

  .selected {
    color: $white-color;
  }
}
