// Utilities
@import "../../utils/name-variables.scss";

.portfolio-page {
  .introduction {
    font-size: 1.75em;
    color: white;
    text-align: center;
    padding: 4em 6em;

    @include for-size(tablet-landscape) {
    }

    @include for-size(tablet-portrait) {
      font-size: 1.25em;
    }

    @include for-size(phone-only) {
      padding: 4em 2em;
      margin-top: 1em;
    }

    @include for-size(small-only) {
      //padding: 4em 1em 2em 1em;
      padding: 6em 2em 4em 2em;
      margin-top: 0;
    }

    @include for-size(smallest-only) {
      font-size: 1em;
      padding: 5em 1em 1em 1em;
      margin-top: 0;
    }
  }

  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $main-background-gradient;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
