@import "../../utils/name-variables.scss";

.options {
  display: flex;
  justify-content: flex-end;

  .option {
    font-size: 1.5em;
    margin-left: 1em;
    cursor: pointer;
    font-weight: 500;
    display: block;
    letter-spacing: 0.1em;
    color: $main-color;

    &:hover {
      color: $white-color;
    }

    &:active {
      color: $white-color;
    }

    @include for-size(tablet-landscape) {
      font-size: 1em;
    }

    @include for-size(small-only) {
      font-size: 1em;
      cursor: pointer;
      color: $main-color;
      letter-spacing: 0.1em;
    }
  }

  .selected {
    text-decoration: underline;
  }

  @include for-size(tablet-portrait) {
    justify-content: space-around;
  }

  @include for-size(phone-only) {
    //padding-right: 0;
    justify-content: flex-end;
    flex-direction: row;
  }

  @include for-size(small-only) {
    flex-direction: column;
    //justify-content: flex-start;
    text-align: right;
    font-size: 0.75em;
  }
}
