@import "../../utils/name-variables.scss";

.header {
  height: 10vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: row;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em;
  background: $header-background;

  @include for-size(tablet-landscape) {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include for-size(tablet-portrait) {
    padding-left: 2.5em;
    padding-right: 1.5em;
  }
  @include for-size(phone-only) {
    height: 15vh;
  }

  @include for-size(small-only) {
    padding-left: 1.5em;
    padding-right: 0.5em;
    padding-top: 0;
  }

  @include for-size(smallest-only) {
    padding-left: 0.5em;
    flex-direction: column;
  }
  .buttons-container {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
      margin-right: 1em;
      @include for-size(tablet-portrait) {
        margin-right: 0;
      }
    }

    @include for-size(tablet-portrait) {
      width: 100%;
      cursor: pointer;
      visibility: visible;
      margin-top: 0;
      justify-content: flex-end;
      padding: 0;
    }

    @include for-size(smallest-only) {
      justify-content: center;

      :first-child {
        margin-right: 0;
      }
    }
    .soc-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      @include for-size(tablet-portrait) {
        flex-direction: column;
        justify-content: space-evenly;
      }

      @include for-size(smallest-only) {
        width: 20%;
        align-items: center;
        flex-direction: column;
      }
    }
    .soc-button {
      height: 2em;
      width: 2em;
      cursor: pointer;
      color: $main-color;
      font-weight: 400;

      &:hover {
        color: $white-color;
      }

      @include for-size(tablet-portrait) {
        height: 1.5em;
        width: 1.5em;
      }

      @include for-size(phone-only) {
        height: 1.5em;
        width: 1.5em;
      }

      @include for-size(small-only) {
        height: 1em;
        width: 1em;
      }

      @include for-size(smallest-only) {
        margin-right: 1em;
      }
    }
  }
}
