@import "../../utils/name-variables.scss";

.header {
  width: 100vw;
  //position: absolute;
  //z-index: 10;
  display: flex;
  flex-direction: row;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background: $header-background-gradient;

  :first-child {
    margin-right: auto;

    @include for-size(tablet-portrait) {
      margin-right: 0;
    }
  }

  @include for-size(tablet-landscape) {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
  }

  @include for-size(tablet-portrait) {
    padding-left: 1em;
    padding-right: 1em;
  }
  @include for-size(phone-only) {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  @include for-size(small-only) {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  @include for-size(smallest-only) {
    padding-right: 0.5em;
  }

  @include for-size(smallest-only) {
    padding-left: 0.5em;
    padding-top: 0.5em;
    //flex-direction: column;
  }
  .buttons-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    :first-child {
      margin-right: 1em;

      @include for-size(tablet-portrait) {
        //margin-right: 0;
        flex-direction: column;
      }

      @include for-size(small-only) {
        margin-right: 0;
      }
    }

    @include for-size(tablet-portrait) {
      width: 100%;
      cursor: pointer;
      visibility: visible;
      margin-top: 0;
      justify-content: flex-end;
      padding: 0;
    }

    @include for-size(smallest-only) {
      justify-content: center;

      :first-child {
        margin-right: 0;
      }
    }
    .soc-container {
      display: flex;
      flex-direction: row;
      margin-right: auto;

      @include for-size(small-only) {
        flex-direction: column;
        justify-content: flex-start;
        justify-content: space-around;
      }

      @include for-size(smallest-only) {
        align-items: center;
        flex-direction: column;
      }
    }
    .soc-button {
      height: 1.5em;
      width: 1.5em;
      cursor: pointer;
      color: $main-color;
      font-weight: 400;

      &:hover {
        color: $white-color;
      }

      @include for-size(tablet-landscape) {
        height: 1em;
        width: 1em;
      }

      @include for-size(small-only) {
        height: 1em;
        width: 1em;
      }

      @include for-size(smallest-only) {
        margin-right: 1em;
      }
    }
  }
}
