// Utilities
@import "../../utils/name-variables.scss";

.contact-page {
  height: 90vh;
  width: 100vw;
  background: $main-background-gradient;
  background-size: cover;

  .contact-page-container {
    height: 100%;
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3em;

    @include for-size(tablet-landscape) {
      padding: 2em;
    }

    @include for-size(small-only) {
      padding: 1em;
    }

    @include for-size(smallest-only) {
      padding: 0.75em;
    }

    .astronaut-container {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1em;

      @include for-size(phone-only) {
        height: 35%;
        width: 100%;
      }

      @include for-size(small-only) {
        height: 30%;
        width: 100%;
      }

      @include for-size(smallest-only) {
        height: 20%;
        width: 100%;
      }

      .yoga-astronaut {
        height: 100%;
        width: 100%;
        animation: fly 5s ease-in-out infinite;

        @keyframes fly {
          0% {
            transform: translate(0vw, 0.8vh);
          }
          50% {
            transform: translate(0vw, 0vh);
          }
          100% {
            transform: translate(0vw, 0.8vh);
          }
        }
      }
    }

    .contacts-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;

      .contact-text {
        font-size: 1.5em;
        line-height: 1.5em;
        color: $white-color;
        font-weight: 500;
        letter-spacing: 0.1em;

        @include for-size(large-desktop) {
          font-size: 3em;
        }

        @include for-size(tablet-landscape) {
          font-size: 1em;
        }

        @include for-size(tablet-portrait) {
          font-size: 1em;
        }

        @include for-size(small-only) {
          font-size: 1em;
        }

        @include for-size(smallest-only) {
          font-size: 0.75em;
        }

        .highlighted {
          color: $main-color;

          &:hover {
            color: $white-color;
          }
        }
      }

      .contact-button-container {
        padding-top: 1em;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
