// Utilities
@import "../../utils/name-variables.scss";

.contact-page {
  background: $main-background-gradient;
  background-size: cover;

  .contact-page-container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include for-size(phone-only) {
      height: 85vh;
    }

    .astronaut-container {
      height: 40%;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .yoga-astronaut {
        height: 60%;
        width: 60%;
        margin-left: 1em;
        animation: fly 5s ease-in-out infinite;

        @include for-size(tablet-portrait) {
          height: 40%;
          width: 100%;
          margin-top: 4em;
        }

        @include for-size(phone-only) {
          height: 30%;
          width: 100%;
          margin-left: 0;
        }

        @include for-size(smallest-only) {
          height: 20vh;
        }

        @keyframes fly {
          0% {
            transform: translate(0vw, 0.8vh);
          }
          50% {
            transform: translate(0vw, 0vh);
          }
          100% {
            transform: translate(0vw, 0.8vh);
          }
        }
      }
    }

    .heading {
      font-size: 2em;
      color: $white-color;
      font-weight: 550;
      letter-spacing: 0.1em;
      margin-bottom: 1em;

      @include for-size(small-only) {
        font-size: 1.5em;
      }
    }

    .subheading {
      font-size: 1.5em;
      line-height: 1.5em;
      color: $white-color;
      font-weight: 500;
      letter-spacing: 0.1em;
      padding: 0 1em;
      text-align: justify;

      @include for-size(phone-only) {
        margin-bottom: 1em;
        text-align: center;
      }

      @include for-size(small-only) {
        font-size: 1em;
      }

      @include for-size(smallest-only) {
        height: 20vh;
      }

      .highlighted {
        color: $main-color;

        &:hover {
          color: $white-color;
        }
        &:active {
          position: relative;
          top: 2px;
        }
      }
    }
  }
}
